<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/boostrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/images/favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="row">
      <div class="col-sm-row-8">
      新しい本をゲット！
      したにメールアドレスを書くだけで、あなたのキャリアが仕事をマグネットのようにゲットするようになります。
      </div>
    </div>
    <form action="/register" method="post">
    <div class="row">
      <div class="col-sm-6">
        <input type="text" class="form-control" name="email" id="email">
      </div>
      <div class="col-sm-4">
        <input type="submit" class="btn btn-danger" val="登録!">
      </div>
    </div>
    </form>
  </body>
</html>
