@import url(http://fonts.googleapis.com/css?family=Ultra);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: 'Ultra', Arial, sans-serif;
}


a {
  color: #00B7FF;
}
